@import '_config';
@import '~x.ui/src/x.ui.scss';
@import 'atoms/atoms';
@import 'molecules/molecules';
@import 'organisms/organisms';

html, body{
  width: 100%;
}

pre {
  font-family: monospace;
}

.hochzeit_codeinput:not(:placeholder-shown) {
  text-transform: uppercase;
}

.hochzeit_title {
  font-family: 'scriblle_script_stdregular';
}

 .head_image {
  background-image: url('./images/Top.png');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1400px;
  padding-top: 150px;
} 

.avatar_big {
  width: 5rem;
  height: 5rem;
}

.hamburger-btn {
  background-color: getColor(background);
  border-radius: 50%;
}

#logo {
  fill: getColor(text);
  height: rem(80);
  width: auto;
  margin: rem(32);
}

body.intro {
  background-image: url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #FFFFFF;
  color: getColor(text, invert);
  background-blend-mode: multiply;

  .input {
    color: getColor(text);
  }

  a {
    color: getColor(super);
  }

  #logo {
    fill: getColor(highlight);
  }
}

.nav {
  background-color: rgba(getColor(background), .6);
}

.btn { background-color: #A6BFC4;}

.btn:hover { background-color: rgb(70, 92, 97);}

.btn_glow.btn {
  box-shadow: 0 12px 24px -8px #A6BFC4;
}

.btn_glow.btn:hover {
  box-shadow: 0 12px 24px -8px #A6BFC4;
}

.btn.btn_clear {
  background-color: transparent;
  color: rgb(71, 88, 92);
}

.btn.btn_clear.is-active, .btn.btn_clear:focus, .btn.btn_clear:hover {
  background-color: rgb(70, 92, 97);
  color: #FFF;
}

h1, h2 { color: #000;}

p {color: #2a302b;}

body.intro a {color: #000; }
