{% extends 'base-layout.njk' %}

{% block main %}
<h1 class="align-center">
 An&shy;fahrts&shy;be&shy;schrei&shy;bung & Kar&shy;te
</h1>

<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2636.4285477643766!2d10.051632415151456!3d48.63991642401953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc64f11c4f6237a46!2sKulturhof+Erpfenhausen!5e0!3m2!1sde!2sde!4v1537904086896&zoom=100" 
width="100%" 
height="450" 
frameborder="0" 
style="border:0" 
allowfullscreen>
</iframe>

 <div class="spacer"></div>
<h5>Anreise von Süden kommend :</h5>
<ul>
<li>B10/ B466 bis nach Geislingen</li>
<li>In Geislingen links abbiegen auf die Rheinlandstraße</li>
<li>Der Reinlandstraße bis Gerstetten folgen</li>
<li>In Gerstetten der Beschilderung nach Heidenheim folgen</li>
<li>Am Hinweisschild ERPFENHAUSEN rechts abbiegen </li>
<li>Und gleich im Anschluss eine rechts/links Kombination fahren</li>
<li>Nach weiteren 2 km erreicht ihr den Kulturhof</li>
</ul>
<h5>Anreise von Norden kommend:</h5>
<ul>
<li>A7 Ausfahrt Heidenheim nehmen</li>
<li>B466 Richtung Heidenheim nehmen</li>
<li>Nach Ortsausgang Heidenheim beim Sontheimer Wirtshäusle links abbiegen Richtung Gerstetten </li>
<li>Straßenverlauf durch den Wald folgen, Gerstetten liegt vor euch </li>
<li>Beim Hinweischild ERPFENHAUSEN links abbiegen</li>
<li>Und gleich im Anschluss eine rechts/links Kombination fahren</li>
<li>Nach weiteren 2 km erreicht ihr den Kulturhof</li>
</ul>
<h5></h5>
<ul>

<p><strong>Parkmöglichkeiten</strong> gibt es direkt am Hof. Folgt dazu einfach der Beschilderung.</p>


{% endblock %}