{% extends 'base-layout.njk' %}

{% block main %}

  <div data-grid="is-center">
    <div data-col="8-sm 6-xl">
      <h1>An&shy;sprech&shy;par&shy;tner</h1>
      <p>Wenn ihr Fragen an uns habt, schreibt uns gerne unter <a href="sabrina.wolny@googlemail.com">sabrina.wolny@googlemail.com</a> oder ruft uns an. Falls ihr etwas zu Programm beitragen möchtet, wendet euch gerne an unsere Trauzeugen:</p>

      <div data-grid="is-center">
        <div data-col="12 6-lg">
          <div class="well align-center">
            <h4>Kata</h4>
            <div class="avatar avatar_big has-margin-center-auto has-margin-middle"><img src="kata.jpg" alt="Kata"></div>
            <p><a href="mailto:katharina.fazekas@gmail.com">katharina.fazekas@gmail.com</a></p>
          </div>
        </div>
        <div data-col="12 6-lg">
          <div class="well align-center">
            <h4>Matze</h4>
            <div class="avatar avatar_big has-margin-center-auto has-margin-middle"><img src="matze.jpeg" alt="Matze"></div>
            <p><a href="mailto:kuntz-matthias@web.de">kuntz-matthias@web.de</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}