<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{% block metatitle %}{{ name | default('Hochzeit') }}{% endblock %}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="/{{ 'main.css' | getMinifiedFile }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://icons.entrecode.de/ec-icons-5.0.0.min.css"/>
</head>
<body class="{% block bodyClass %}{% endblock %}">
<div class="head_image" />
<div id="app" class="page">
  <header class="align-center">
    {% block header %}
      {% block header_nav %}
        <div class="is-fixed is-fab-nw is-layer-10">
          <button class="hamburger-btn is-raised" @click="toggleMenu =! toggleMenu"
                  :class="{'is-active' : toggleMenu}"></button>
        </div>
        <aside class="page-aside" :class="{'is-active' : toggleMenu}">
          <nav class="nav nav_stacked">
            <ul class="nav__items">
              <li class="nav__item"><a href="/rsvp" class="btn btn_glow">Rückmeldung</a></li>
              {% if loggedIn %}
                <li class="nav__item"><a href="/location" class="btn btn_clear">Location &amp; Unterkünfte</a></li>
                <li class="nav__item"><a href="/anfahrt" class="btn btn_clear">Anfahrt</a></li>
                <li class="nav__item"><a href="/ablauf" class="btn btn_clear">Unser Tag</a></li>
                <li class="nav__item"><a href="/ansprechpartner"
                                         class="btn btn_clear">Ansprechpartner</a></li>
                <li class="nav__item"><a href="/faq"
                                         class="btn btn_clear">FAQ</a></li>
                <li class="spacer"></li>
                <li class="nav__item"><a href="/logout" class="btn btn_clear">Logout</a></li>
              {% endif %}
            </ul>
          </nav>

        </aside>
      {% endblock %}
    {% endblock %}
  </header>
  <main>
    <div data-container="">
      {% block main %}
      {% endblock %}
    </div>
  </main>
  <footer>
    {% block footer %}
      <div class="align-center has-padding-big">
        <a href="/">
          <img src="header.png" style="max-width: 300px;" class="has-margin-small">
        </a> 
      </div>
    {% endblock %}
  </footer>
</div>
{% block customscript %}{% endblock %}
{% block scripts %}
  <script src="/{{ 'main.js' | getMinifiedFile }}"></script>
{% endblock %}
</body>
</html>