{% extends 'base-layout.njk' %}

{% block main %}

  <div data-grid="is-center">
    <div data-col="8-sm 6-xl">
      <h1>FAQ</h1>
      <p>
      <strong>Passendes Schuhwerk</strong><br />
      Die Trauung findet bei gutem Wetter am See statt. Der Zugang zum See ist über Wald und Wiese. Wählt also einfach abhängig von euren Laufsteg-Skills das richtige Schuhwerk :-) 
      </p>
      <p>
      <strong>Blumengeschenke</strong><br />
      Bitte seht von Blumengeschenken ab, da wir direkt nach der Hochzeit in die Flitterwochen fliegen. Wäre schade drum!
      </p>
      <p>
      <strong>Wer ist/war DJ Rakete</strong><br />
      War nurn Witz! Keine Angst, es wird natürlich <strong>keine</strong> Schlagerparty :-)
      </p>
      <p>
      <strong>Gibt es einen Dresscode?</strong><br />
      Wir wollen, dass ihr euch wohlfühlt und wir mögen euch so wie ihr seid. Auch wenn das nackig ist :-D 
      </p>
      <p>
      <strong>Ich bin besoffen und will nach Hause</strong><br />
      Kein Problem. We got you covered!
      <ul>
      <li>a. Du hast dein Zelt dabei und wankst einfach in Schlangenlinien bis du auf dein Zelt stößt! </li>
      <li>b. Du schläfst in Erpfenhausen. Dein Zimmer ist auch mit Umwegen nur wenige Minuten entfernt. </li>
      <li>c. Du schläfst im Wirtshäusle, Landgasthof oder im Umland: Wir haben ab 23:00 einen Taxiservice der dich nach Hause bringt! Stelle dich dazu nach draußen und mache dich beim Taxi bemerkbar :-) </li>
      </ul>
      <iframe src="https://giphy.com/embed/1vZ6CBX6ER6buFEVMS" width="380" height="378" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cab-vogue-clips-how-to-get-in-a-1vZ6CBX6ER6buFEVMS">via GIPHY</a></p>
      </p>
    </div>
  </div>

{% endblock %}