{% extends 'base-layout.njk' %}

{% block main %}

  <div data-grid="is-center">
    <div data-col="8-sm 6-xl">
      <h1>FAQ</h1>
      <p>
      <strong>Passendes Schuhwerk</strong><br />
      Die Trauung findet bei gutem Wetter am See statt. Der Zugang zum See ist über Wald und Wiese. Wählt also einfach abhängig von euren Laufsteg-Skills das richtige Schuhwerk :-) 
      </p>
      <p>
      <strong>Blumengeschenke</strong><br />
      Bitte seht von Blumengeschenken ab, da wir direkt nach der Hochzeit in die Flitterwochen fliegen. Wäre schade drum!
      </p>
      <p>
      <strong>Wer ist/war DJ Rakete</strong><br />
      War nurn Witz! Keine Angst, es wird natürlich <strong>keine</strong> Schlagerparty :-)
      </p>
      <p>
      <strong>Gibt es einen Dresscode?</strong><br />
      Wir wollen, dass ihr euch wohlfühlt und wir mögen euch so wie ihr seid. Auch wenn das nackig ist :-D 
      </p>
    </div>
  </div>

{% endblock %}