{% extends 'base-layout.njk' %}
{% block bodyClass %}intro{% endblock %}
{% block main %}
  {% if not loggedIn %}
    <div data-row>
      <div data-col="4-md +4-md 12-sm">
        <h2 class="align-center">Anmelden</h2>
        <p> Schön, dass du hier bist! <br />
        Um uns Bescheid zu geben ob du kommen kannst, fülle bitte nachfolgende
        Felder aus.
        </p>
          <form action="/code" method="post">
            {% if error === 'wrong_code' %}
              <div class="alert alert_error">Der Hashtag oder die PLZ sind leider falsch. Hast du ihn richtig
                eingegeben?
              </div>
            {% endif %}

            <div class="form-group">
              <label :for="email" style="color: #000">Deine E-Mail:</label>
              <div class="input-group">
                <div class="input-group__addon"><span class="ec-icon email"></span></div>
                <input type="email" placeholder="E-Mail"
                      class="input input_big" name="email" id="email"/>
              </div>                        
            </div>

            <div class="form-group">
            <label :for="email" style="color: #000">Sicherheitsfrage 1: Wie lautet der Hastag auf der Rückseite deiner Einladungskarte?</label>
              <div class="input-group">
                <div class="input-group__addon"><span class="ec-icon hash"></span></div>
                <input type="text" placeholder="Hashtag"
                      class="input input_big" name="hashtag"/>
              </div>
            </div>

            <div class="form-group">
            <label :for="email" style="color: #000">Sicherheitsfrage 2: Wie ist die PLZ des Veranstaltungsorts?</label>
              <div class="input-group">
                <div class="input-group__addon"><span class="ec-icon bank"></span></div>
                <input type="text" placeholder="Zip-Code"
                      class="input input_big" name="zipcode"/>
              </div>
            </div>

            <input type="submit" class="btn btn_block" value="Abschicken">
          </form>
        </div>
    </div>

    <div class="spacer-big"></div>

    <div data-row>
      <div data-col="6-md +3-md 12sm">
        <p>Du hast deine Rückmeldung bereits gegeben und möchtest dich über Anfahrt, Ablauf oder
        die Übernachtungsmöglichkeiten informieren? Bitte gebe nachfolgend die E-Mail Adresse an mit der 
        du dich registriert hast. Wir senden dir anschließend einen Zugangscode zu.</p>
        <div class="form-group">
          <form action="/email" method="post">
            {% if error === 'wrong_email' %}
              <div class="alert alert_error">Leider konnten wir dieser E-Mail-Adresse noch keinen
                Gast zuordnen. Beachte, dass du die Adresse einmal angegeben haben musst, damit
                der
                Login damit funktioniert.
              </div>
            {% endif %}
            <div class="input-group">
              <input type="text" placeholder="E-Mail (nur wenn schon registriert)…"
                    class="input"
                    name="email"/>
              <input type="submit" value="Absenden" class="btn btn_small"/>
            </div>
          </form>
        </div>

        <div class="bumper bumper_invert"></div>

        <p>Auf unserer Hochzeitswebsite findest du alle Infos zur Location,
          Übernachtungsmöglichkeiten und
          dem Tagesablauf an unserer Hochzeit am 27.04.2019. Wenn dir jetzt schon ein Lied einfällt,
          das
          auf gar keinen Fall auf der Party fehlen darf, schreibe es schon Mal auf unsere
          Musikwunschliste.</p>
      </div>
    </div>
      

    {% else %}
    <div data-row>
      <div data-col="6-md +3md 12sm">
        <div class="spacer spacer-big"></div>
        <div class="spacer spacer-big"></div>

        <p>Auf unserer Hochzeitswebsite findest du alle Infos zur <a href="/location">Location,
            Übernachtungs&shy;möglichkeiten</a>
          und dem <a href="/ablauf">Tagesablauf</a> an unserer Hochzeit am 27.04.2019<br>
          Wenn dir jetzt schon ein Lied einfällt, das auf gar keinen Fall auf der Party fehlen darf,
          schreibe es schon Mal auf unsere <a href="/musik">Musikwunschliste.</a></p>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
  <div class="align-center has-padding-big">
    <small><a href="/impressum">Impressum</a></small>
  </div>
{% endblock %}