{% extends 'base-layout.njk' %}

{% block main %}
  <div data-grid="is-center">
    <div data-col="8-md">
      <img src="erpfenhausen.jpg" alt="Der Kulturhof Erpfenhausen" class="img_inline-left">
      <h2>Location</h2>
      <p class="lead">Der Kulturhof Erpfenhausen liegt eingebettet in Wald, Wiese, und Heidelandschaft auf der schwäbischen Alb. Unsere Hochzeitslocation ist ein liebevoll umgebauter, alter Bauernhof. Neben dem Bauernhof gibt es eine große Wiese, auf der ihr gerne mit Campervan/Wohnwagen oder Zelten übernachten könnt. 
      
      </p>
      <p>Weitere Tipps für Unterkünfte in der Nähe haben wir euch nachfolgend zusammengestellt, </p>

      <h6>bitte selbstständig buchen :) </h6>
<ul>
    <h5>Das Sontheimer Wirtshäusle </h5>
        <p>3-Sterne-Hotel, 5km vom Kulturhof, 11 Zimmer</p>
        <p>Sontheimer Wirtshäusle 1, 89555 Steinheim am Albuch</p> 
        <p>Tel.: 07329 285</p>
           <a href="http://www.sontheimer-wirtshaeusle.de" target="_blank"><strong>www.sontheimer-wirtshaeusle.de</strong></a></p>
</ul>
<ul>
      <h5>Landgasthof Hirsch</h5>
        <p>Gemütlicher Landgasthof, 8km vom Kulturhof </p>
        <p>Marktstraße 1, 89547 Gerstetten</p> 
        <p>Tel.:07323 6339 <p/>
        <a href="http://www.hirsch-gussenstadt.de" target="_blank"><strong>www.hirsch-gussenstadt.de</strong></a>
</ul>
    </div>
  </div>
{% endblock %}