{% extends 'base-layout.njk' %}

{% block main %}

{% if expiration %}
<pre>{{ expiration }}</pre>
{% else %}
<form method="get" action="https://accounts.spotify.com/authorize/">
<input type="hidden" name="client_id" value="640e6c77c3b9427f980d16b476c09438">
<input type="hidden" name="response_type" value="code">
<input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
<input type="hidden" name="scope" value="playlist-read-private playlist-modify-private playlist-modify-public">
<input type="submit" class="btn">
</form>
{% endif %}
{% endblock %}